
/* solves issue of extra whitespace */
* { padding: 0; margin: 0; }

    .box {
      position: relative;
      text-align: center;
      background-color:white;
      opacity: 0.7;
      filter: alpha(opacity=70);
      overflow: hidden;
      height: 67px;
      width: 100%;
    }

    .headline {
      position: relative;
    }


    .textdogs {
      position: absolute;
      top: 10%;
      right: 45%;
      text-align: center;
      overflow: hidden;
      padding: 8px;
      font-family: 'Quicksand', sans-serif;

    }

    .grass1 {
      position: absolute;
      top: 10%;
      left: 10%;
    }

    .grass2 {
      position: absolute;
      top: 10%;
      right: 20%;
    }


    .img {
      position: relative;
      left: 3%;
      top: 90px;
      border:5px solid black;
      width: 300px;
      height:290px;
      float:left;
      margin:10px;
      text-align: center;
      background-image: url("images/bg.gif");
      background-color: #EBF5FB;
      z-index: 1;
      font-family: 'Quicksand', sans-serif;
      /*margin-bottom: 3%;*/
      /*margin-right: 4%;*/
    }



    .desc{
      padding:15px;
      z-index: 1;
    }

    body {
      position: relative;
      background-image: url("images/field.jpg");
      background-size: cover;
      background-color: #EBF5FB;
      background-attachment: fixed;
    }

    .gallery {
      position: absolute;
      top: 10px;
      /*height: 50vh;*/
 /*     padding: -10px;*/
      /*margin-bottom: 15px;*/
    }



    footer {
      position: fixed;
      bottom: 0px;
      text-align: center;
      background-color:white;
      opacity: 0.7;
      filter: alpha(opacity=70);
      overflow: hidden;
      height: 40px;
      width: 100%;
      z-index: -1;
      font-family: 'Tajawal', sans-serif;

    }

    .footext {
      position: relative;
      top: 15px;
    }


    @media only screen and (max-width: 900px) {
      .textdogs {
        font-size: 10px;
        top: 20%;
        right: 50%;
        text-align: center;
      }

      .grass1 {
        position: absolute;
        top: 5%;
        left: 10%;
        width: 2px;
        height:2px;
      }

      .grass2 {
        position: absolute;
        top: 5%;
        right: 20%;
      }

      footer {
        display: none;
      }

      .img {
        position: relative;
        left: 3%;
        border:5px solid black;
        width: 300px;
        height:290px;
        float:left;
        margin:10px;
        text-align: center;
        background-image: url("images/bg.gif");
        background-color: #EBF5FB;
        z-index: 1;
      }

    }


    @media only screen and (max-width: 500px) {
      .textdogs {
        font-size: 8px;
        top: 20%;
        right: 40%;
        text-align: center;
      }

      .grass1 {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 2px;
        height:2px;
      }

      .grass2 {
        position: absolute;
        top: 5%;
        right: 5%;
      }

      .img {
        position: relative;
        left: 10%;
        border:5px solid black;
        width: 300px;
        height:290px;
        float:left;
        margin:10px;
        /*text-align: center;*/
        background-image: url("images/bg.gif");
        background-color: #EBF5FB;
        z-index: 1;
      }

      footer {
        display: none;
      }
    }



